* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

header, .random-section, .quote-section, .call-to-action-section, footer {
    padding: 0 6rem;
}

/* headings */

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

header h3 {
    font-size: 24px;
}

h1, p {
    margin-bottom: 0.5rem;
}

p {
    color: #1F2937;
    font-weight: 200;
}
/* header */ 
header {
    background: #1F2937;
    color: #F9FAF8;
}

header h3 {
    color: #F9FAF8;
}

header a {
    color: #E5E7EB;
    text-decoration: none;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 0.6rem 1.8rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    flex-shrink: 0;
}

/* navbar */ 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
    font-size: 18px;
}

/* hero section */ 
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
    gap: 2rem;
}

.hero-image {
    flex-shrink: 0;
    background-color: #a7a7a7;
    padding: 6rem;
}

/* random section */
.random-section {
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 4rem 0;
}

.box-section {
    display: flex;
    margin-bottom: 8rem;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    width: 10rem;
}

.box {
    width: 10rem;
    height: 10rem;
    border: solid 3px #1269f5;
    border-radius: 0.75rem;
    flex-shrink: 0;
}

.text-div {
    display: flex;
    flex-wrap: wrap;
}

/* quote section */

.quote-section {
    background-color: #E5E7EB;
    padding: 8rem;
}

.quote {
    font-size: 36px;
    padding: 0 4rem;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    line-height: 1.25;
}

.quote-author {
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    padding-right: 4rem;
}

/* call-to-action section */

.call-to-action-section {
    background-color: #1269f5;
    margin: 4rem 8rem;
    padding: 3rem 6rem;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.call-to-action-section p {
    color: #F9FAF8;
    padding-top: 0.5rem;
}

.call-to-action-section h3 {
    font-size: 24px;
}

.call-to-action-section button {
    border-color: white;
}

/* footer */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}