* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, main, footer {
    padding: 0 4rem;
}


header {
    background: #174061;
    color: white;
}

header a {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.hero-image {
    width: 50%;
}

.random-section {
    text-align: center;
}

main h2 {
    margin: 2rem 0;
}