* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, main, footer {
    padding: 0 6rem;
}


header {
    background: #174061;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #1d92f8;
    color: white;
    padding: 0.4rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

/* navbar */ 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

/* hero section */ 
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
    gap: 2rem;
}

h1, p {
    margin-bottom: 0.5rem;
}

p {
    font-size: 0.9rem;
    font-weight: 200;
}

.hero-image {
    flex-shrink: 0;
    background-color: #a7a7a7;
    padding: 4rem;
}

/* random section */
.random-section {
    text-align: center;
}

.random-section h2 {
    margin: 2rem 0;
}

.box-section {
    display: flex;
    margin-bottom: 4rem;
}

